.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  transition: .3s background-color, .3s box-shadow;
  background-color: #FFFFFF;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  &.header_front {
    background-color: transparent;
    box-shadow: unset;
  }
}
.header__inner {
  max-width: 345px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  padding: 12px 0;
  width: 98%;
  @media screen and (min-width: $screen-s) {
    max-width: 590px;
  }
  @media screen and (min-width: $screen-m) {
    max-width: 738px;
  }
  @media screen and (min-width: $screen-l) {
    max-width: 994px;
  }
  @media screen and (min-width: $screen-xl) {
    max-width: 1170px;
    padding: 41px 0 32px;
  }
  @media screen and (min-width: $screen-xxl) {
    max-width: 1336px;
  }
}
.header__link {
  display: block;
  position: relative;
  width: 29px;
  height: 39px;
  @media screen and (min-width: $screen-xl) {
    width: 43px;
    height: 47px;
  }
}
.header__logo {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.header__nav {
  display: none;
  align-self: center;
  justify-self: center;
  opacity: 0;
  visibility: hidden;
  @media screen and (min-width: $screen-xl) {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}
.nav__link {
  transition: .3s color;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 29px;
  color: #232323;
  margin-right: 75px;
  &.nav__link_front {
    color: #ffffff;
  }
  &:last-child {
    margin-right: unset;
  }
  &:hover {
    text-decoration: underline;
  }
}