.section_certificates {
  background-color: #FDE700;
  position: relative;
}
.certificates__cog {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center;
  pointer-events: none;
  transform: translate(18%, -29%);
  @media screen and (min-width: $screen-xl) {
    width: 350px;
    top: -2%;
  }
}