.certificates__image {
  width: 100%;
  margin-bottom: 16px;
  @media screen and (min-width: $screen-xl) {
    width: 45%;
  }
}
.certificates__image_certificates-page {
  @media screen and (min-width: $screen-xl) {
    width: 100%;
  }
}
.certificates-text-block {
  @media screen and (min-width: $screen-xl) {
    padding-top: 220px;
    display: flex;
    justify-content: space-between;
  }
}
.certificates-text-block__inner {
  @media screen and (min-width: $screen-xl) {
    width: 50%;
  }
}
.certificates {
  @media screen and (min-width: $screen-xl) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 70px;
    flex-wrap: wrap;
  }
}
.certificates_certificates-page {
  @media screen and (min-width: $screen-xl) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}