.footer {
  display: block;
}
.footer-top {
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  padding-bottom: 30px;
  @media screen and (min-width: $screen-xl) {
    padding-top: 60px;
  }
}
.footer-top__background {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: .75;
  filter: grayscale(100%);
}
.footer-top__title {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 0 0 19px 0;
  padding: 19px 0 0 0;
  @media screen and (min-width: $screen-xl) {
    display: none;
  }
}
.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: $screen-xl) {
    align-items: flex-start;
  }
}
.contacts__block {
  list-style: none;
  padding: unset;
  margin: unset;
  @media screen and (min-width: $screen-xl) {
    width: 30%;
    max-width: 230px;
  }
}
.contacts__text {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
  &.contacts__text_title {
    display: none;
  }
  @media screen and (min-width: $screen-xl) {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    &.contacts__text_title {
      display: block;
      margin-bottom: 24px;
      text-transform: uppercase;
    }
  }
}
.contacts__form {
  display: none;
  @media screen and (min-width: $screen-xl) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 30%;
    max-width: 230px;
  }
}
.inputs-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.contacts__input {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 2px solid #FFFFFF;
  padding-left: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: unset;
  }
  &::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #939393;
  }
  &:focus {
    outline: none;
  }
}
.footer-middle {
  display: none;
  background-color: #FDE700;
  @media screen and (min-width: $screen-xl) {
    display: block;
  }
}
.footer-middle__content {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 100%;
  border-bottom: 2px solid #232323;
  padding: 30px 0;
}
.footer-middle__link {
  &:hover {
    text-decoration: underline;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  text-decoration: none;
  &:after {
    content: '';
    width: 10px;
    height: 18px;
    display: block;
    background: url("img/dest/footer-link-arrow.png") no-repeat 50%;
    margin-left: 10px;
  }
}
.footer-bottom {
  background-color: #FDE700;
  padding: 20px 0;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid #000000;
    @media screen and (min-width: $screen-xl) {
      padding: 30px 0;
    }
  }
}
.footer-bottom__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  max-width: 165px;
}
.quality-markings {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.quality-markings__link {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  background-color: black;
  @media screen and (min-width: $screen-xl) {
    width: 43px;
    height: 43px;
  }
}
.quality-markings__image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.logo_footer {
  width: 25px;
  @media screen and (min-width: $screen-xl) {
    width: 43px;
  }
}
.copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  color: #232323;
  @media screen and (min-width: $screen-xl) {
    font-size: 12px;
    line-height: 16px;
  }
}